    <footer class="container-fluid py-4 color-white" style="background-color: #073B4C;">
        <div class="row container mx-auto">
            <div class="col-12 col-sm-4 py-1">
                <h5 class=" py-2">Nosotros</h5>
                <p class="no-margin ">Lorem ipsum </p>
                <p class="no-margin ">Lorem ipsum </p>
                <p class="no-margin ">Lorem ipsum </p>
                <p class="no-margin ">Lorem ipsum </p>
            </div>
            <div class="col-12 col-sm-4 py-1">
                <h5 class="color-white py-2">Información</h5>
                <p class="no-margin ">Lorem ipsum </p>
                <p class="no-margin ">Lorem ipsum </p>
                <p class="no-margin ">Lorem ipsum </p>
                <p class="no-margin">Lorem ipsum </p>
            </div>
            <div class="col-12 col-sm-4 py-1">
                <h5 class=" py-2">Contáctanos</h5>
                <p class="no-margin ">Lorem ipsum </p>
                <p class="no-margin ">Lorem ipsum </p>
                <p class="no-margin ">Lorem ipsum </p>
                <p class="no-margin">Lorem ipsum </p>
            </div>
        </div>
        <!-- <footer class="container-fluid d-flex justify-content-around py-4" style="background-color: #0EAD69;"></footer> -->
        <!-- <hr>
        <div>
            <h2 class="logo">Karü</h2>
            <div>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div> -->
    </footer>