<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Clientes</h1>

  <div id="clients">
    <% @clients.each do |client| %>
      <%= render client %>
      
     

      <p>
        <%= link_to "Show this client", client %>
      </p>
      <hr>
    <% end %>
  </div>

  <%= link_to "New client", new_client_path %>
</div>
