<header class="container-fluid dark-green-bg">
    <div>
        <%= image_tag("carousel2.jpg", class:'w-100 px-0 mx-0') %>
    </div>
</header>

<section class="container">
    <h2 class="text-center my-5">QUIÉNES SOMOS</h2>
    <p class="text-center mx-5 px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi et quia esse, doloremque ad aut tempora quo animi? Quaerat ipsam voluptatem, commodi quae sunt odio pariatur itaque. Dolor, atque quam.</p>
    <p class="text-center mx-5 px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi et quia esse, doloremque ad aut tempora quo animi? Quaerat ipsam voluptatem, commodi quae sunt odio pariatur itaque. Dolor, atque quam.</p>
    <p class="text-center mx-5 px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi et quia esse, doloremque ad aut tempora quo animi? Quaerat ipsam voluptatem, commodi quae sunt odio pariatur itaque. Dolor, atque quam.</p>
</section>

<section class="container">
    <h2 class="text-center my-5">NUESTROS PRODUCTOS</h2>
    <div class="d-flex flex-wrap text-center">
        <div class="card text-white red-bg mb-3 mx-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">RECICLADOS</h5>
                <p class="card-text">Productos fabricados con material reciclado</p>
            </div>
        </div>
        <div class="card text-white clear-green-bg mb-3 mx-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">SUSTENTABLES</h5>
                <p class="card-text">Productos fabricados con materiales sustentables</p>
            </div>
        </div>
        <div class="card text-white yellow-bg mb-3 mx-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">GRANEL</h5>
                <p class="card-text">Pide recarga de tus productos favoritos y olvídate del envase</p>
            </div>
        </div>
        <div class="card text-white blue-bg mb-3 mx-2" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">SERVICIOS</h5>
                <p class="card-text">¿No quieres comprar? Arrienda o suscríbete y obtén lo que necesitas</p>
            </div>
        </div>
    </div>
</section>
 
        


