<div id="<%= dom_id order %>">
  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= order.total_price %>
  </p>

</div>
